In [1]:
#creating a tuple
t = (1,2,3)

In [2]:
#len() works similar to list
len(t)

3

In [3]:
#mixed object types
t = ('string',2)
t

('string', 2)

In [4]:
#Indexing works similar to list
print(t[0]," ",t[-1])

string   2

In [7]:
#Returns index
t.index(2)

1

In [8]:
#Returns count
t.count('string')

1

In [9]:
#Tuple is immutable
t[0]= 3

TypeError: 'tuple' object does not support item assignment

In [10]:
#Can't add elements
t.append('appended element')

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
s = set()

In [16]:
#add() is used to add elements to sets
s.add(1)
s.add(2)
s

{1, 2}

In [17]:
#Set holds unique elements
s.add(1)

In [18]:
s

{1, 2}

In [59]:
list1 = [2,4,6,2,5,2,4,5,2,2,4,6,8,3,3]
#Converting to sets
set(list1)

{2, 3, 4, 5, 6, 8}

In [76]:
#Initializing dictionary
mydict = {'k1':'v1','k2':'v2'}

In [77]:
#Indexing using keys
mydict['k2']

'v2'

In [78]:
dict1 = {'k1':155,'k2':[21,123,13],'k3':["zero","one","two","three","four"]}

In [79]:
dict1['k2']

[21, 123, 13]

In [80]:
#Accessing list in dctionary
dict1['k3'][3]

'three'

In [81]:
#Operation on dict values
dict1['k1'] = dict1['k1'] - 100

In [82]:
dict1['k1']

55

In [83]:
#Create an empty dictionary
dict2 = {}

In [84]:
#Adding a new key using assignment
dict2['food'] = 'Dosa'
dict2['price'] = 12

In [85]:
dict2

{'food': 'Dosa', 'price': 12}

In [86]:
#Nested dict
nd = {'k1':{'nk':{'snk':'v1'}}}

In [87]:
#Indexing
nd['k1']['nk']['snk']

'v1'

In [88]:
nd['k1']['nk']

{'snk': 'v1'}

In [89]:
nd['k1']

{'nk': {'snk': 'v1'}}

In [90]:
mydict

{'k1': 'v1', 'k2': 'v2'}

In [91]:
#keys() returns all keys in the dictionary 
mydict.keys()

dict_keys(['k1', 'k2'])

In [92]:
#values() returns all values in the dictionary
mydict.values()

dict_values(['v1', 'v2'])

In [93]:
#items() return tuples of all key-value pairs
mydict.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [94]:
#Dictionary using comprehension
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [95]:
#Defining a function
def sum_of_n(num):
    '''Returns the sum of num integers'''
    sum = 0
    for i in range(num):
        sum+=i
    return sum

In [96]:
#Assigning return value to variable
result = sum_of_n(5)
print(result)

10

In [97]:
def is_prime(num):
    '''Returns whether passed argument is prime or not'''
    for i in range(2,num):
        if num % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")
        
is_prime(11)

Prime

In [98]:
#Importing library
import math

def is_prime(num):
    '''Returns whether passed argument is prime or not'''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

is_prime(11)

True

In [9]:
#Generator function for double of numbers
def cubes(num):
    for i in range(num):
        yield i*2

In [6]:
for x in cubes(6):
    print(x)

0
2
4
6
8
10

In [7]:
def fib(num):
    a = 1
    b = 1
    for i in range(num):
        yield a
        a,b = b,a+b

In [8]:
for num in fib(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [100]:
def gen():
    for x in range(5):
        yield x

In [101]:
#Assigning the function to a variable 
g = gen()

In [102]:
#next() returns the next value in the iterable
for i in range(5):
    print(next(g))

0
1
2
3
4

In [103]:
s = "AiRobosoft"
string_iter = iter(s)

In [104]:
next(string_iter)

'A'

In [105]:
next(string_iter)

'i'

In [106]:
next(string_iter)

'R'

In [45]:
def cube_map(x):
      return x**3
a = list(range(10))

In [46]:
#Mapping using function
list(map(cube_map,a))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [49]:
#Mapping using lambda
list(map(lambda x: x**2, a))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
a = list(range(10))
b = list(range(10,20))
print(a," ",b)

list(map(lambda x,y:x+y, a,b))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]   [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [61]:
#Importing reduce
from functools import reduce
print(a)
#Finding sum of list using reduce
reduce(lambda x,y: x+y,a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

45

In [62]:
#Finding min
print(b)
reduce(lambda a,b: a if (a < b) else b,b)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

10

In [73]:
def iseven(num):
    '''Checks whether number is even'''
    if num%2 == 0:
        return True

a.extend(b)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [74]:
#Return a list of only even numbers in list a
print("Even: ",list(filter(iseven,a)))

#Using lambda function to retrieve odd numbers using filter
print("Odd: ",list(filter(lambda x: x%2!=0,a)))

Even:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Odd:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]