In [1]:
#importing math library
import math
math.ceil(3.1)

4

In [2]:
#dir() shows all methods within the module
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

When we find the function in the module we want to use, we can read about it more using the help function, inside the Python interpreter:

In [3]:
#help() shows what the method does
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [4]:
#Syntax for importing module within a package
from package import module

ModuleNotFoundError: No module named 'package'

In [5]:
#Exception handling
def sum():
    while True:
        try:
            val1 = int(input("Enter an integer: "))
            val2 = int(input("Enter an integer: "))
        except:
            print("Please enter an integer!")
            continue
        else:
            sum = val1 + val2
            print("Sum: ",sum)
            break
        finally:
            print("Method executed")

In [6]:
sum()

Enter an integer: first
Please enter an integer!
Method executed
Enter an integer: 12
Enter an integer: second
Please enter an integer!
Method executed
Enter an integer: 12
Enter an integer: 45
Sum:  57
Method executed

In [20]:
#Database
import sqlite3

#Connecting to the database
db = sqlite3.connect("company.db")

#Drop table if it already exists through execute()
db.execute("drop table if exists employee")

#Creating table employee
db.execute("create table employee(id int, name text, salary int)")

#inserting values in the table
db.execute("insert into employee(id, name, salary) values(1, 'Bruce', 10000)")
db.execute("insert into employee(id, name, salary) values(2, 'Clarke', 20000)")
db.execute("insert into employee(id, name, salary) values(3, 'Wayne', 15000)")
db.execute("insert into employee(id, name, salary) values(4, 'Kent', 25000)")
db.execute("insert into employee(id, name, salary) values(5, 'Peter', 30000)")
db.execute("insert into employee(id, name, salary) values(6, 'Parker', 17000)")

db.commit()

In [21]:
results = db.execute("select * from employee order by id")
for row in results:
    print("Employee ID: {}\nEmployee Name: {}\nEmployee Salary: {}".format(row[0],row[1],row[2]))
    print("-" * 24)

Employee ID: 1
Employee Name: Bruce
Employee Salary: 10000
------------------------
Employee ID: 2
Employee Name: Clarke
Employee Salary: 20000
------------------------
Employee ID: 3
Employee Name: Wayne
Employee Salary: 15000
------------------------
Employee ID: 4
Employee Name: Kent
Employee Salary: 25000
------------------------
Employee ID: 5
Employee Name: Peter
Employee Salary: 30000
------------------------
Employee ID: 6
Employee Name: Parker
Employee Salary: 17000
------------------------

In [22]:
wayne = db.execute("select * from employee where name = 'Wayne' ")
for row in wayne:
    print("Employee ID: {}\nEmployee Name: {}\nEmployee Salary: {}".format(row[0],row[1],row[2]))
    print("-" * 24) 
    
peter = db.execute("select * from employee where name = 'Peter' ")
for row in peter:
    print("Employee ID: {}\nEmployee Name: {}\nEmployee Salary: {}".format(row[0],row[1],row[2]))
    print("-" * 24)

Employee ID: 3
Employee Name: Wayne
Employee Salary: 15000
------------------------
Employee ID: 5
Employee Name: Peter
Employee Salary: 30000
------------------------

In [23]:
n_s = db.execute("select name, salary from employee order by salary desc ")
for row in n_s:
    print("Employee Name: {}\nEmployee Salary: {}".format(row[0],row[1]))
    print("-" * 60 )

Employee Name: Peter
Employee Salary: 30000
------------------------------------------------------------
Employee Name: Kent
Employee Salary: 25000
------------------------------------------------------------
Employee Name: Clarke
Employee Salary: 20000
------------------------------------------------------------
Employee Name: Parker
Employee Salary: 17000
------------------------------------------------------------
Employee Name: Wayne
Employee Salary: 15000
------------------------------------------------------------
Employee Name: Bruce
Employee Salary: 10000
------------------------------------------------------------

In [25]:
salary = db.execute("select * from employee where salary > 15000 order by salary")
print("Employees with salaries over 15k")
print("-" * 60 )
print("-" * 60 )
for row in salary:
    print("Employee ID: {}\nEmployee Name: {}\nEmployee Salary: {}".format(row[0],row[1],row[2]))
    print("-" * 60 )

Employees with salaries over 15k
------------------------------------------------------------
------------------------------------------------------------
Employee ID: 6
Employee Name: Parker
Employee Salary: 17000
------------------------------------------------------------
Employee ID: 2
Employee Name: Clarke
Employee Salary: 20000
------------------------------------------------------------
Employee ID: 4
Employee Name: Kent
Employee Salary: 25000
------------------------------------------------------------
Employee ID: 5
Employee Name: Peter
Employee Salary: 30000
------------------------------------------------------------